*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
}
.container{
	width: 1400px;
	margin: auto;
    /* text-align: center; */
}
.header {
	max-width: 100%;
	background-color: #f1f1f1;
	padding: 0px;
	margin : 0px;
}

.header img {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
table{
	margin-left: 50px;
	width: 1400px;
}
table  tr td {
	cursor: pointer;

}

.account {
	text-align: right;
	color: #111;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f1f1;
	font-size: 25px;
	padding: 2px;
	margin: 10px;
}
.account:hover{
	background-color: gray;
}
.menu{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	display: flex;
	justify-content: space-between;

	
}

.menu ul li{
	display: inline-block;
	padding: 10px 20px;
	text-transform: uppercase;
	color: black;
}
a{
	font-size: 20px;
	text-decoration: none;
	color: black; 
}

.search{
	
	/* background-color: #dfe3eb; */
	/* border-radius: 30px; */
	color: rgb(24, 22, 22);
	font-size: 30px;
	/* cursor: pointer; */

	
}
.mySlides {display: none}
img {vertical-align: middle;}

/* .mySlides fade img {

    height:  600px;
} */
/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    height: 900px;
    position: relative;
    margin: auto;
}
.slideshow-container img{
	width: 1400px;
    height: 600px;
    object-fit: cover;
}
.header-slider-img{
	height: 900px;
    background-position: center;
    background-size: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.button{
padding: 20px 40px;
border-radius: 50px;
border: none;
background-color: #dfe3eb;
}
.button:focus{
	outline: none;
}
/* .slice img{
	width: 1400px;
}
.slice{
	text-align: center;
	margin-top: 30px;
	position: relative;
	cursor: pointer;
}
.slice .left{
	color: white;
	position: absolute;
	left: 15px;
	top: 50px
}
.slice .left h2{
	color:white ;
	font-size: 40px;
	
}

.left p{
	color: white;
	margin-top: 20px;
	left: 15px;
	text-align: left;
	font-size: 20px;
} */
.btn{
	padding: 15px 55px;
	background-color: white;
	border-radius: 30px;
	color: black;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	margin-top: 20px;
}
.btn:hover{
	background-color: #464444;
}
.trending{
	text-align: left;
	font-size: 50px;
}
.layer1{
	background: url("images2/nike-just-do-it (1).jpg")no-repeat center center/cover;
}
.layer2{
	background: url("images2/nike-just-do-it.jpg")no-repeat center center/cover;
}

.layer1,.layer2{
	width: 49%;
	height: 900px;
	font-size: 30px;
	color: white;
	display: flex;
    justify-content: end;
    align-items: flex-end;
	cursor: pointer;
}
.content{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.left1{
	padding: 40px;
}
.featured {
	text-align: left;
	font-size: 50px;
}
.layer3 {
	background: url("images2/nike-just-do-it (2).jpg")no-repeat center center/cover;
	width: 100%;
	height: 800px;
	display: flex;
    justify-content: end;
    align-items: flex-end;
	position: relative;
	cursor: pointer;
}
.content1{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.btn1,.btn2{
	padding: 15px 55px;
	background-color: black;
	border-radius: 30px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	margin-top: 20px;
}
.btn1:hover,.btn2:hover{
	background-color:rgb(63, 60, 60);
}
.btn1:focus,.btn2:focus{
	outline: none;
}
.left2{
	max-width: 650px;
	position: absolute;
	top: 30px;
	text-align: left !important;
	font-size: 30px;
}

.left2 h2{
	text-align: left;
}
.best {
	text-align: left;
	font-size: 50px;
}

.column {
	float: left;
	width: 20%;
	padding: 5px;
	cursor: pointer;
	overflow: hidden;
  }
.column:hover{
	transform: scale(1.1);
	transition: 0.5s;
}
/* .column:hover img{
	transform: scale(1.3);
	transition: 0.5s;
	overflow: hidden;
	/* padding: 40px; */

  /* Clearfix (clear floats) */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
.ten{
	font-size: 15px;
}
/* .mua button {
	margin: auto;
	padding: 15px;
	display: flex;
	justify-content: center;
	background-color: rgb(241, 219, 219);
} */
.btnBuy{
	padding: 15px;
	background-color: black;
	border-radius: 30px;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	margin: 65px;
	display: flex;
	justify-content: center;
	float: left;
	width: 150px;
	margin-top: 30px;
}
.btnBuy:hover{
	background-color: rgb(63, 60, 60);
}
.morenike{
	text-align: left;
	font-size: 50px;
}
.column1 {
	float: left;
	width: 33.33%;
	padding: 5px;
	position: relative;
	cursor: pointer;
  }
  
  /* Clearfix (clear floats) */
  .row1::after {
	content: "";
	clear: both;
	display: table;
}
.btn3{
	position: absolute;
	padding: 15px 55px;
	background-color: white;
	border-radius: 30px;
	color: black;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	margin-top: 20px;
	bottom: 50px;
	left: 20px;
}
.btn3:hover{
	background-color: rgb(219, 213, 213);
}
.dontmiss{
	text-align: left;
	font-size: 50px;
}
.layer4{
	background: url("images2/miss1.jpg")no-repeat center center/cover;
}
.layer5{
	background: url("images2/miss2.jpg")no-repeat center center/cover;
}
.layer6{
	background: url("images2/miss3.jpg")no-repeat center center/cover;
}
.layer4,.layer5,.layer6{
	width: 33%;
	height: 700px;
	font-size: 30px;
	display: flex;
    justify-content: end;
    align-items: flex-end;
	cursor: pointer;
}
.layer4,.layer6{
	color: white;
}
.banner{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.bannerLeft{
	padding: 40px;
}
.btn4{
	padding: 15px 55px;
	background-color: white;
	border-radius: 30px;
	color: black;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	margin-top: 20px;
}
.btn5{
	padding: 15px 55px;
	background-color: black;
	border-radius: 30px;
	color:white;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	margin-top: 20px;

}
.btn4:hover{
	background-color:rgb(231, 227, 227) ;
}
.btn5:hover{
	background-color:rgba(36, 32, 32, 0) ;
}
.footer{
	margin: 0;
	padding: 20px;
}
.footerBetween{
	max-width: 1200px;
	margin: 30px 150px;
	display: flex;
	justify-content: space-evenly;
	cursor: pointer;
}
.footerBetween h4{
	font-size: 30PX;
	cursor: context-menu;
}

.footerBetween ul li{
	margin: 20px 0;
	display: grid;
	font-size: 20px;
	color: gray;
	/* padding: 10px 20px; */

}

.end{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.815);
	margin: 0;
	padding: 50px;
	position: relative;
	
}
.endLeft{
	width: 1700px;
	max-width: 800px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 50px;
	text-align: left;
	display: flex;
	justify-content: space-between;
}
.endLeft ul li{
	cursor:pointer;
	margin: 20px 0;
	display: grid;
	font-size: 15px;
	color: white;
	/* padding: 10px 20px; */

}

.socialnetwork{
	height: 50px;
	width: 250px;
	text-align: right;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 70px;
}

.socialnetwork ul{
	display: flex;
}
.socialnetwork ul li:hover {
	background-color: gray;
}
.endLeft1{
	color: rgba(240, 230, 230, 0.13);
}
.socialnetwork ul li{
	display: flex;
	justify-content: center;
	text-align: center;
	color: #111;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color:rgb(226, 216, 216);
	font-size: 25px;
	padding: 2px;
	margin: 10px;
}
.line{
	border: 0.5px solid rgb(77, 76, 76);
	position: relative;
}
.end1{
	max-width: 400px;
	margin-left: 40px;
	cursor: pointer;
}
.theEnd ul{
	margin-top: 20px;
	max-width: 400px;
	display: flex;
	justify-content: left;
	
}
.theEnd ul li{
	
	margin: auto;
	color: white;
	display: flex;
	justify-content: left;
	align-items: center;
}
.theEnd1 ul{
	top: 350px;
	right: 80px;
	margin-top: 20px;
	max-width: 500px;
	display: flex;
	justify-content: right;
	position: absolute;
}
.theEnd1 li{
	font-size: 15px;
	margin-top: 30px;
	color: white;
	display: flex;
	justify-content: left;
	width: 300px;
}
.backtop{
	width: 40px;
	height: 40px;
	background: rgb(155, 138, 138);
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	left: 20px;
	cursor: pointer;
}
html{
	scroll-behavior: smooth;
}

/* .layer1{
	float: left;
  width: 50%;
  padding: 15px;
}
.layer2{
	float: right;
	width: 50%;
}
.layer1 img,.layer2 img{
	height: 590px;
	width: 590px;
}
.layer1 img{
	margin-right: 10px;
}
.layer2 img{
	margin-left: 10px;
}
.layer1{
	text-align: center;
	margin-top: 30px;
	position: relative;
}
.layer1 .left1{
	color: white;
	position: absolute;
	left: 15px;
	top: 450px
}

.layer1 .left1 p{
	color: white;
	margin-top: 20px;
	left: 15px;
}
.layer2{
	text-align: center;
	margin-top: 30px;
	position: relative;
}
.layer2 .left1{
	color: white;
	position: absolute;
	left: 35px;
	top: 450px
}

.layer2 .left1 p{
	color: white;
	margin-top: 20px;
	left: 15px;
} */
